<link rel="stylesheet" href="{{ '/assets/css/nav.css' | relative_url }}">
<nav
  class="navbar navbar-expand-xl navbar-light fixed-top navbar-custom ss-glass-navbar {% if page.nav-short %}top-nav-short-permanent{% else %}top-nav-regular{% endif %}">

  <div class="navbar-custom__inner">


    {%- if site.title-img -%}

    <a class="navbar-brand ss-navbar-brand" href="{{ '/' | relative_url }}">
      <img src="{{ site.title-img | relative_url }}" alt="{{ site.title | escape }}">
    </a>

    {%- elsif site.title -%}

    <a class="navbar-brand ss-navbar-brand" href="{{ '/' | relative_url }}">
      {{ site.title }}
    </a>

    {%- endif -%}



    <button class="navbar-toggler ss-navbar-toggler" type="button" data-toggle="collapse" data-target="#main-navbar"
      aria-controls="main-navbar" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>



    <div class="collapse navbar-collapse ss-navbar-collapse" id="main-navbar">

      <ul class="navbar-nav ml-auto ss-navbar-links">


        {%- for link in site.navbar-links -%}

        {%- assign nav_label = link[0] -%}
        {%- assign nav_value = link[1] -%}



        {%- if nav_value.first -%}


        {%- assign dropdown_id = nav_label | slugify | prepend: 'navbar-dropdown-' | append: '-' | append: forloop.index
        -%}


        <li class="nav-item dropdown ss-nav-item ss-nav-item--dropdown">


          <button class="nav-link dropdown-toggle ss-nav-link" id="{{ dropdown_id }}" type="button"
            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            {{ nav_label }}
          </button>



          <div class="dropdown-menu dropdown-menu-right ss-dropdown-menu" aria-labelledby="{{ dropdown_id }}">


            {%- for childlink in nav_value -%}

            {%- for linkparts in childlink -%}

            <a class="dropdown-item ss-dropdown-link" href="{{ linkparts[1] | relative_url }}">
              {{ linkparts[0] }}
            </a>


            {%- endfor -%}

            {%- endfor -%}


          </div>


        </li>



        {%- else -%}



        {%- assign nav_link_class = 'nav-link ss-nav-link' -%}

        {%- if nav_label == 'Contact Us' -%}
        {%- assign nav_link_class = 'nav-link ss-nav-link ss-nav-link--cta' -%}
        {%- endif -%}



        <li class="nav-item ss-nav-item">

          <a class="{{ nav_link_class }}" href="{{ nav_value | relative_url }}">
            {{ nav_label }}
          </a>

        </li>



        {%- endif -%}



        {%- endfor -%}




        {% if site.post_search %}

        <li class="nav-item ss-nav-item">

          <a class="nav-link ss-nav-link" href="#" id="nav-search-link">

            <span id="nav-search-icon" class="fa fa-search"></span>

            <span id="nav-search-text">
              Search
            </span>

          </a>

        </li>

        {% endif %}



      </ul>


    </div>





    {% if site.navbar-extra %}

    {% for file in site.navbar-extra %}

    {% include {{ file }} %}

    {% endfor %}

    {% endif %}






    {% if site.avatar and page.show-avatar != false %}

    <div class="avatar-container ss-avatar-container">

      <div class="avatar-img-border ss-avatar-img-border">

        <a href="{{ '/' | relative_url }}">

          <img src="{{ site.avatar | relative_url }}" alt="{{ site.title | escape }}">

        </a>

      </div>

    </div>

    {% endif %}





  </div>

</nav>

