<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@type": "LocalBusiness",
  "name": "Solo Studios",
  "image": "https://solostudios.uk/assets/img/logo.png",
  "url": "https://solostudios.uk",
  "telephone": "+44 7956 343402",
  "address": {
    "@type": "PostalAddress",
    "addressLocality": "Plymouth",
    "addressCountry": "GB"
  },
  "sameAs": [
    "https://www.instagram.com/solo_studios_plymouth/",
    "https://www.youtube.com/@SoloStudiosPlymouth"
  ]
}
</script>
