<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@graph": [
    {
      "@type": "LocalBusiness",
      "name": "Solo Studios",
      "image": "https://solostudios.uk/assets/img/logo.png",
      "url": "https://solostudios.uk",
      "telephone": "+44 7956 343402",
      "address": {
        "@type": "PostalAddress",
        "streetAddress": "Solo Studios, Ashford Crescent",
        "postalCode": "PL3 5AD",
        "addressLocality": "Plymouth",
        "addressRegion": "Devon",
        "addressCountry": "GB"
      },
      "sameAs": [
        "https://www.instagram.com/solo_studios_plymouth/",
        "https://www.youtube.com/@SoloStudiosPlymouth"
      ],
      "areaServed": [
        { "@type": "Place", "name": "Plymouth" },
        { "@type": "Place", "name": "Devon" },
        { "@type": "Place", "name": "Cornwall" },
        { "@type": "Place", "name": "Dorset" },
        { "@type": "Place", "name": "Somerset" },
        { "@type": "Place", "name": "Bristol" }
      ],
      "aggregateRating": {
        "@type": "AggregateRating",
        "ratingValue": "5",
        "reviewCount": "3"
      },
      "review": [
        {
          "@type": "Review",
          "author": { "@type": "Person", "name": "Jess R" },
          "datePublished": "2025-05-26",
          "reviewRating": {
            "@type": "Rating",
            "ratingValue": "5",
            "bestRating": "5"
          },
          "reviewBody": "Joel was an absolute legend at our wedding. He worked really well with our DJ, chatting beforehand to plan the songs perfectly. He was super friendly, great on the dance floor, and communication with him was easy and smooth. Massive thanks to Joel for literally saving the night when our venue speakers broke during the evening dancing. Luckily, he had his own professional speakers on hand and quickly set them up, getting the music going again after a brief pause. He then continued through the night. We were both feeling pretty merry by then and really appreciated his quick thinking and organisation. Don't hesitate to book him if you get the chance, he's brilliant!"
        },
        {
          "@type": "Review",
          "author": { "@type": "Person", "name": "Sue C" },
          "datePublished": "2025-05-28",
          "reviewRating": {
            "@type": "Rating",
            "ratingValue": "5",
            "bestRating": "5"
          },
          "reviewBody": "Joel was amazing and made my daughter's hen party a memorable experience."
        },
        {
          "@type": "Review",
          "author": { "@type": "Person", "name": "Trudi J" },
          "datePublished": "2024-09-10",
          "reviewRating": {
            "@type": "Rating",
            "ratingValue": "5",
            "bestRating": "5"
          },
          "reviewBody": "Wow, what can I say. Joel came highly recommended to us, and we were not disappointed. Communication from start to finish was second to none. We asked for an Ibiza party vibe for our wedding to kick start the evening and this is exactly what Joel brought to the table. We had nothing but positive feedback from our guests. I would definitely use him again."
        }
      ]
    },
    {
      "@type": "MusicGroup",
      "name": "Solo Studios",
      "url": "https://solostudios.uk",
      "member": [
        {
          "@type": "Person",
          "name": "Joel Solomons"
        }
      ],
      "genre": [
        "Ibiza sax",
        "Sax vibes",
        "Wedding sax",
        "Party sax",
        "Jazz sax",
        "Pop sax"
      ]
    },
    {
      "@type": "Service",
      "name": "Saxophone and DJ hire",
      "serviceType": [
        "Wedding entertainment",
        "Party entertainment",
        "Birthday parties",
        "Event entertainment"
      ],
      "provider": {
        "@type": "LocalBusiness",
        "name": "Solo Studios",
        "address": {
        "@type": "PostalAddress",
        "streetAddress": "Solo Studios, Ashford Crescent",
        "postalCode": "PL3 5AD",
        "addressLocality": "Plymouth",
        "addressRegion": "Devon",
        "addressCountry": "GB"
        }
      }
    }
  ]
}
</script>
